body{
     background-image: url('./assets/Back.jpg');
     background-size: 100%;
     height: 100vw;
     width: 90vw;
     background-repeat:repeat-y;
}
.Enab img{
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  background: transparent;
}
.Enab{
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  background-color: #ffffff;
  position: relative;
  top: -700px;
  left: -600px;
  border:2px solid #ffffff;
  box-shadow: 2px 2px 2px  #ffffff;
  background: linear-gradient(90deg, rgba(39, 34, 34, 0.69),rgba(44, 41, 41, 0.805));

}
.btn1{
  background-color: red;
}
.btn3{
  background-color: blue;
}
.btn2{
  background-color: green;
}
.SecondMain {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  position: fixed;
  margin-left: 20px;
  width:100 vp;
  gap: 100px;
  align-items: center;
  text-align: center;
  height:100px;
  
}
.TwoinOne{
  display: flex;
  flex-direction:row;
  align-items: center;
  text-align: center;


}
.MicroPhone div button{
  width: 50px;
  height: 50px;
  margin-top: 65px;
  font-size: 30px;
  cursor: pointer;
background-color: transparent;
border-radius: 50%;
align-items: center;
text-align: center;
margin-left: 10px;
border: none;
border: 2px solid white;
box-shadow: 2px 1px 2px #ffffff;
  
}
.Micro:hover{
  scale: 1.1;

}
.Search{
  position:relative;
}
.Search input{
  height: 50px;
  transition: transform 1.5s ease;
  width: 700px;
  border-radius: 50px;
  font-size: 20px;
  justify-content: center;
  margin-left: 367px;
  margin-top: 50px;
  text-align: center;
  background: linear-gradient(90deg,rgba(0, 0, 0, 0.51),rgba(255, 255, 255, 0.411));
  color: white

}
.Main{
  display: flex;
  flex-direction: column;
  position:absolute;
}
.TextGen{
  align-items: center;
  height: 700px;
  text-align: center;
  width: 700px;
  margin-left: 370px;
  margin-top: 130px;
  border-radius: 5px;
  border:2px solid #ffffff;
  background: linear-gradient(90deg,rgba(0, 0, 0, 0.51),rgba(255, 255, 255, 0.411));
  color: white;
  overflow-y: hidden;

}
.Mac{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 20px;
  width: 20px;
  position: fixed;
  gap: 5px;
}
.Mac button{
  height: 20px;
  width: 20px;
  border:2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.Wrong img{
  width: 50px;
  height: 50px;
  border-radius: 55%;
  cursor: pointer;
  background: transparent;
   border: 2px solid #ffffff;
}
.Wrong img:hover{
  scale: 1.2;
  border: 2px solid #ffffff;

}
.Auth{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 180px;
  text-align: center;
  gap: 40px;
  cursor: pointer;
  /* border:2px solid #ffffff; */
}
.SecondMain img{
  width: 100px;
  height: 50px;
  transition: transform 1.5s ease;
  border-radius: 50%;
  border:2px solid #ffffff;
  background: linear-gradient(90deg,rgba(0, 0, 0, 0.51),rgba(255, 255, 255, 0.411));
   
   
}
.Auth button{
  height: 40px;
  width: 100px;
  background-color: oklch(0.274 0.006 286.033);
  border-radius: 10px;
  border: 0px solid black;
  color: white;
  font-size: 20px;
  border:2px solid #ffffff;
}
.Bar{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}
.Bar button{
  height: 40px;
  width: 100px;
  background-color: oklch(0.274 0.006 286.033);
  border-radius: 10px;
   border:2px solid #ffffff;
  color: white;
  font-size: 20px;
  
}
.Bar button:hover{
  cursor: pointer;
  background-color: oklch(0.278 0.033 256.848);
}
.Auth button:hover{
  cursor: pointer;
  background-color: oklch(0.278 0.033 256.848);
}
.SecondMain img:hover{
  transform: rotate(360deg);
  cursor: pointer;
}

